@charset "utf-8";
body {
    background: #1282eb;
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 1000px;
  }
  
  [draggable] {
    cursor: move;
  }
  
  img{
    position: absolute;
    z-index:5;
  }

  .container {
      width: 1000px;
      height: 1000px;
      margin: 0 auto;
        
  }