.container {
    border: 15px double #8c6565;
    width: 30%;
    margin: 20px auto;
    padding: 30px 0;
    font-size: smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #bf96a3;
}

h1 {
    font-family: Palatino Linotype;
    color: #56465a;
    text-align: center;
}

.block {
    margin: 2px;
    border: 2px solid #8c6565;
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
    height: 100%;
}

img:hover {
    cursor: pointer;
}

.container-block, .container1-block1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 20em;
}

.block1 {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

.drag-start {
    border: 2px solid black;
}

.drop-zone {
    background: rgb(0, 0, 0);
}